<h1>Weather Forecast</h1>

<%= form_tag(weather_index_path, method: :get) do %>
  <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @weather.present? && @weather['current'].present? %>
  <h2><%= params[:city] %></h2>
  <p>Temperature: <%= (@weather['current']['temp'] - 273.15).round %>ºC</p>
  <p>Humidity: <%= @weather['current']['humidity'] %>%</p>
  <p>Description: <%= @weather['current']['weather'].first['description'] %></p>
  <% elsif @error%>
  <p><%= @error %></p>
<% end %>
